/* CSS for PrintXBlock */

.printXBlock {
  text-align: right;
}

.printXBlock button {
  -webkit-border-radius: 8 !important;
  -moz-border-radius: 8 !important;
 border: 0px !important;
  border-radius: 8px !important;
  color: #ffffff !important;
  background: #0B55A8 !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
 text-shadow: none !important;
 letter-spacing: 1px !important;
}
.printXBlock button:focus {
  background: #0a4687 !important;
  text-decoration: none !important;
}
.printXBlock button:hover {
  background: #0a4687 !important;
  text-decoration: none !important;
}
